.sidebar{
    background-color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    width: 72px;
}

.home-icons{
    height: 24px;
}

.explore-icons{
    height: 24px;
}

.subscriptions-icons{
    height: 24px;
}